<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List Articles</title>
  <style>
    nav {
      text-align: right;
    }
  </style>
</head>

<body>
  <nav>
    <% if(user){ %>
    <h4><%=user.full_name %></h4>
    <a href="#">Add Article</a>
    <a href="#">List Article</a>
    <a href="/logout">Logout</a>
    <% }else{ %>
    <a href="/users/login">Log In</a>
    <a href="/users/register">Register</a>
    <% } %>
  </nav>